# ignore .vagrant folder
**.vagrant

# ignore .vscode folder
.vscode

# ignore .idea folder
.idea/*
vagrant/synced/StackBreaker/.idea/*

# ignore pylance stuff
__pycache__

# ignore the python folder
